*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    margin: 10px 16px;
}
.table, td, th {
    border: 1px solid;
    text-align: center;
  }
.table{
    width: 100%;
    border-collapse: collapse;
}
.learnMore{
    background-color: rgb(16, 17, 17);
    width: 100px;
    height: 30px;
    margin-top: 20px;
    color: white;
    text-align: center;
    padding-top: 5px;
}
